# Bank Customers Churn
https://www.kaggle.com/datasets/santoshd3/bank-customers?resource=download

### Data Preprocessing

In [1]:
# importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# importing dataset
churn = pd.read_csv("Churn Modeling.csv")

In [3]:
churn.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
# reconstructing dataset by removing the irrelevant columns such as RowNumber, CustomerId, Surname
X = churn.iloc[:, 3:13]
y = churn.iloc[:, 13]

In [5]:
# converting categorical features into dummy variables
states = pd.get_dummies(X['Geography'],drop_first = True)
gender = pd.get_dummies(X['Gender'],drop_first = True)

In [6]:
# dropping the columns which were converted to dummy variables
X = X.drop(["Geography","Gender"],axis = 1)

In [7]:
# concatenating remaining columns of the dataset with the dummy variables columns
X = pd.concat([X,states,gender],axis = 1)

In [8]:
X.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0

In [9]:
# splitting dataset into train and test set
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state = 0)

In [10]:
# feature scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(x_train)
X_test = sc.transform(x_test)

### ANN

In [11]:
# importing keras libraries and packages
import keras
from keras.models import Sequential
from keras.layers import Dense

In [12]:
# initializing ANN
classifier = Sequential()

2022-06-28 14:59:57.855119: I tensorflow/core/platform/cpu_feature_guard.cc:151] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [13]:
# adding input layer and first hidden layer
classifier.add(Dense(activation = "relu", input_dim = 11, units = 6, kernel_initializer = "uniform"))

In [14]:
# adding second hidden layer
classifier.add(Dense(activation = "relu", units = 6, kernel_initializer = "uniform"))

In [15]:
# adding output layer
classifier.add(Dense(activation = "sigmoid", units = 1, kernel_initializer = "uniform"))

In [16]:
# compiling ANN
classifier.compile(optimizer = "adam", loss = "binary_crossentropy", metrics = ["accuracy"])

In [19]:
# fitting ANN to training set
classifier.fit(X_train, y_train, batch_size = 10, epochs = 50)

Epoch 1/50
800/800 [==============================] - 2s 2ms/step - loss: 0.4819 - accuracy: 0.7958
Epoch 2/50
800/800 [==============================] - 2s 2ms/step - loss: 0.4264 - accuracy: 0.7960
Epoch 3/50
800/800 [==============================] - 2s 2ms/step - loss: 0.4205 - accuracy: 0.8064
Epoch 4/50
800/800 [==============================] - 2s 2ms/step - loss: 0.4172 - accuracy: 0.8276
Epoch 5/50
800/800 [==============================] - 2s 2ms/step - loss: 0.4155 - accuracy: 0.8291
Epoch 6/50
800/800 [==============================] - 2s 2ms/step - loss: 0.4139 - accuracy: 0.8316
Epoch 7/50
800/800 [==============================] - 2s 2ms/step - loss: 0.4123 - accuracy: 0.8332
Epoch 8/50
800/800 [==============================] - 1s 2ms/step - loss: 0.4109 - accuracy: 0.8332
Epoch 9/50
800/800 [==============================] - 1s 2ms/step - loss: 0.4107 - accuracy: 0.8339
Epoch 10/50
800/800 [==============================] - 1s 2ms/step - loss: 0.4096 - accuracy: 0.8350
Epoch 11/50
800/800 [==============================] - 2s 2ms/step - loss: 0.4090 - accuracy: 0.8345
Epoch 12/50
800/800 [==============================] - 2s 2ms/step - loss: 0.4084 - accuracy: 0.8354
Epoch 13/50
800/800 [==============================] - 2s 2ms/step - loss: 0.4075 - accuracy: 0.8364
Epoch 14/50
800/800 [==============================] - 2s 2ms/step - loss: 0.4070 - accuracy: 0.8347: 0s -
Epoch 15/50
800/800 [==============================] - 2s 2ms/step - loss: 0.4070 - accuracy: 0.8339
Epoch 16/50
800/800 [==============================] - 3s 4ms/step - loss: 0.4063 - accuracy: 0.8363
Epoch 17/50
800/800 [==============================] - 1s 2ms/step - loss: 0.4062 - accuracy: 0.8331
Epoch 18/50
800/800 [==============================] - 1s 2ms/step - loss: 0.4056 - accuracy: 0.8346
Epoch 19/50
800/800 [==============================] - 2s 2ms/step - loss: 0.4054 - accuracy: 0.8349
Epoch 20/50
800/800 [==============================] - 2s 3ms/step - loss: 0.4051 - accuracy: 0.8353
Epoch 21/50
800/800 [==============================] - 3s 4ms/step - loss: 0.4050 - accuracy: 0.8353
Epoch 22/50
800/800 [==============================] - 2s 3ms/step - loss: 0.4045 - accuracy: 0.8339
Epoch 23/50
800/800 [==============================] - 2s 3ms/step - loss: 0.4041 - accuracy: 0.8351
Epoch 24/50
800/800 [==============================] - 2s 2ms/step - loss: 0.4044 - accuracy: 0.8349
Epoch 25/50
800/800 [==============================] - 1s 2ms/step - loss: 0.4038 - accuracy: 0.8340
Epoch 26/50
800/800 [==============================] - 2s 2ms/step - loss: 0.4036 - accuracy: 0.8344
Epoch 27/50
800/800 [==============================] - 2s 2ms/step - loss: 0.4037 - accuracy: 0.8351
Epoch 28/50
800/800 [==============================] - 1s 2ms/step - loss: 0.4032 - accuracy: 0.8340
Epoch 29/50
800/800 [==============================] - 2s 2ms/step - loss: 0.4032 - accuracy: 0.8355
Epoch 30/50
800/800 [==============================] - 2s 2ms/step - loss: 0.4029 - accuracy: 0.8344
Epoch 31/50
800/800 [==============================] - 2s 2ms/step - loss: 0.4029 - accuracy: 0.8351
Epoch 32/50
800/800 [==============================] - 1s 2ms/step - loss: 0.4021 - accuracy: 0.8357
Epoch 33/50
800/800 [==============================] - 1s 2ms/step - loss: 0.4022 - accuracy: 0.8339
Epoch 34/50
800/800 [==============================] - 2s 2ms/step - loss: 0.4022 - accuracy: 0.8347
Epoch 35/50
800/800 [==============================] - 1s 2ms/step - loss: 0.4020 - accuracy: 0.8345
Epoch 36/50
800/800 [==============================] - 1s 2ms/step - loss: 0.4025 - accuracy: 0.8342
Epoch 37/50
800/800 [==============================] - 2s 2ms/step - loss: 0.4017 - accuracy: 0.8347
Epoch 38/50
800/800 [==============================] - 1s 2ms/step - loss: 0.4022 - accuracy: 0.8344
Epoch 39/50
800/800 [==============================] - 1s 2ms/step - loss: 0.4017 - accuracy: 0.8344
Epoch 40/50
800/800 [==============================] - 1s 1ms/step - loss: 0.4016 - accuracy: 0.8351
Epoch 41/50
800/800 [==============================] - 1s 2ms/step - loss: 0.4017 - accuracy: 0.8360
Epoch 42/50
800/800 [==============================] - 1s 1ms/step - loss: 0.4015 - accuracy: 0.8339
Epoch 43/50
800/800 [==============================] - 1s 2ms/step - loss: 0.4012 - accuracy: 0.8355
Epoch 44/50
800/800 [==============================] - 1s 2ms/step - loss: 0.4012 - accuracy: 0.8331
Epoch 45/50
800/800 [==============================] - 2s 2ms/step - loss: 0.4011 - accuracy: 0.8347
Epoch 46/50
800/800 [==============================] - 2s 2ms/step - loss: 0.4011 - accuracy: 0.8342
Epoch 47/50
800/800 [==============================] - 1s 2ms/step - loss: 0.4010 - accuracy: 0.8366
Epoch 48/50
800/800 [==============================] - 1s 2ms/step - loss: 0.4010 - accuracy: 0.8349
Epoch 49/50
800/800 [==============================] - 1s 1ms/step - loss: 0.4006 - accuracy: 0.8335
Epoch 50/50
800/800 [==============================] - 1s 1ms/step - loss: 0.4014 - accuracy: 0.8340

### Making prediction and Evaluating model

In [20]:
# predicting test set
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

In [21]:
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [22]:
# confusion matrix
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
accuracy = accuracy_score(y_test, y_pred)

In [23]:
cm

array([[1541,   54],
       [ 264,  141]])

In [24]:
accuracy

0.841